<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.penghai.intershop.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.penghai.intershop.bo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR"/>
    <result column="phone" property="phone" jdbcType="VARCHAR"/>
  </resultMap>
  
  <sql id="Base_All_List" >
    id, username,pwd,email,phone
  </sql>
  
  <!-- 查询数据库是否有相同的用户名 -->
  <select id="findByUsername" parameterType="string"  resultType="java.lang.Integer">  
        select count(*)  from t_user where username=#{username}
  </select> 
  
    <!-- 查询数据库邮箱是否被使用 -->
  <select id="findByEmail" parameterType="string"  resultType="java.lang.Integer">  
        select count(*)  from t_user where email=#{email}
  </select> 
  
  
  <!-- 添加一条用户信息记录 -->  
  <insert id="insert" parameterType="com.penghai.intershop.bo.User" useGeneratedKeys="true" keyProperty="id">
    insert into t_user (username,pwd,email,phone) values(#{username,jdbcType=VARCHAR},#{pwd,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR}) 
  </insert>
  
  <!-- 用户登录检查用户名和密码 -->
    <select id="login" parameterType="string"  resultType="com.penghai.intershop.bo.User">  
        select username,pwd from t_user where username=#{0} and pwd=#{1}
  </select> 
  
</mapper>  