<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.penghai.intershop.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.penghai.intershop.bo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR"/>
    <result column="phone" property="phone" jdbcType="VARCHAR"/>
  </resultMap>
  
  <sql id="Base_All_List" >
    id, username,pwd,email,phone
  </sql>
  
  <!-- 查询数据库是否有相同的用户名 -->
  <select id="findByUsername" parameterType="String"  resultMap="BaseResultMap">  
        select username  from t_user where username=#{username}
  </select> 
  
  <!-- 添加一条用户信息记录 -->  
    <insert id="insert" parameterType="com.penghai.intershop.bo.User" >
    insert into t_user (id,username,pwd,email,phone) values(#{id,jdbcType=INTEGER},#{username,jdbcType=VARCHAR},#{pwd,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR}) 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="pwd!= null" >
        pwd,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd!= null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  
</mapper>  